a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: disc;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

button {
    color: bisque;
    background-color: aqua;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}